<ion-view title="{{new.title}}">
    <ion-content class="has-header">

        <img ng-src="{{new.picture}}" alt="{{new.title}}"/>
        
        <div class="padding">
        <h2 class="title">{{new.title}}</h2>
        <p>R{{new.price}}</p>

        <p><i class="icon ion-pricetags"></i> <span>{{new.faculty}}</span></p>
            
                <md-list-item class="md-3-line" >
                    <img id="{{new.uploader}}" name="{{new.title}}" ng-click="book_contact($event)"  style="float:left;" src="comment2.png" class="md-avatar" />
                    
                </md-list-item>
            
</div>


        <!--<md-button class="md-fab" ng-disabled="true" aria-label="Comment">
            <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
        </md-button>
            -->
    </ion-content>
</ion-view>