<ion-view title="{{username}}" id="main">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <md-card>
            <md-card-header>
                <center>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="money_eyes.png" />
                    </md-card-avatar>
                </center>
                <md-card-header-text>
                    <span class="md-title"><b>{{username}}</b></span>
                    <span class="md-subhead"><i ng-repeat="number in getNumber(filled)" class="icon ion-ios-star"></i><i ng-repeat="number in getNumber(empty-filled)" class="icon ion-ios-star-outline"></i></span>
                </md-card-header-text>
            </md-card-header>
            
                <md-list-item class="md-3-line" ng-repeat="x in book_uploads" ng-click="#" data-toggle="modal" data-target="#lightbox">
                    <img src="car.jpg" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <p><b>{{x.title}}</b></p>
                        <p>{{x.faculty}} <span style="float:right">R{{x.price}}</span></p>
                        <!-- <p><i class="fa fa-tag fa"></i><i><span ng-repeat="tag in x.tags">{{tag}}{{$last ? '' : ', '}}</span></i></p>-->
                    </div>
                                </md-list-item>
            
<!--
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card headline</span>
                    <span class="md-subhead">Card subheader</span>
                </md-card-title-text>
            </md-card-title>
    -->
            <div class="row">
                <div class="card col home">
                    <a role="button" class="item item-text-wrap" ng-click="sell_modal()">
                        <h1><i class="icon ion-ios-bookmarks"></i></h1>
                        <span class="item-note">Sell books</span>
                    </a>
                </div>

                <div class="card col home">
                    <a role="button" class="item item-text-wrap" ng-click="sell_modal2()">
                        <h1><i class="icon ion-ipad"></i></h1>
                        <span class="item-note">Sell other</span>
                    </a>
                </div>
            </div>
   
</md-card>
        
     </ion-content>
</ion-view>