<div class="modal">
    <ion-header-bar>
        <h1 class="title">{{Message_title}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="close_messages()">Close</button>
        </div>
    </ion-header-bar>
   
    <ion-content ion-content class="has-header">
        <ion-tabs class="tabs-icon-only">
            <ion-tab title="Comments" icon-on="ion-chatboxes" icon-off="ion-chatboxes">
                <ion-pane class="messaging-view">


                    <ion-content class="content-stable"
                                 on-swipe-left="hideTime = false"
                                 on-swipe-right="hideTime = true">

                        <div style="float:left; font-size:22px;" ng-repeat="message in messages"
                             ng-class="{other: message.userId != myId}"
                             class="messages">

                            <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
                                <span class="mes">{{ message.text }}</span>
                            </div>

                            <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}" style="font-size:10px;">{{message.time}}</div>
                            
                        </div>

                    </ion-content>

                    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
                        </label>
                        <button class="button button-clear" ng-click="sendMessage()">
                            Send
                        </button>
                    </ion-footer-bar>
                </ion-pane>
            </ion-tab>
            
            <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home">
                <div class="padding"><strong>[Home]</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </ion-tab>
            
            <ion-tab title="Settings" icon-on="ion-gear-b" icon-off="ion-gear-b">
                <div class="padding"><strong>[Settings]</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </ion-tab>
        </ion-tabs>

        
    </ion-content>
</div>
